.main_container{
  position:absolute;
  top:0px;
  right: 0px;
  left: 0px;
  bottom:0px;
  width:100%;
  height:100vh;

}
.first_section{
  width:100%;
  height: 30%;
  font-display: center;
}
.second_section{
  width:100%;
}
.homepageimage{
  width: 100%;
  height:100%;
}
.logo{ 
	position:relative; 
	top:0px;
	left:0px; 
  right:0px;
  float: left; 
  width:190px;
  height:190px;
  margin:10px;
}
.logo-text{

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(8,48,83);
  display: flex;
  justify-content: space-around;
}
.participation-bar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(8,48,83);
  display: flex;
  justify-content: space-between;

}


li a {
  cursor: pointer;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;

}
.main-content{
  height: fit-content;
  width: 100%;
  background-color: rgb(223,246,221);
}
.third-section{
  
  display: flex;
  flex-direction: column;
}

.heading{
  margin-top: 20px;
  font-size: 30px;
  color: rgb(8,48,83);
  display: flex;
  justify-content: center;
}
.heading-content{
  font-size: 20px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(8,48,83);
  width: 30em;
  text-align: center;
  justify-content: center;
}
.Sustanability_heading{
  margin-top: 45px;
  font-size: 30px;
  font-weight: 545;
  color: rgb(5,73,75);
  display: flex;
  justify-content: center;
}
.center-images{
display: flex;
justify-content: center;
}
.center-image-width{
  width:120px;
  height:120px;
  margin:50px;
}
.fifth-section{
  display: flex;
  flex-direction: column;
}
.content_container{
  margin:0px 30px 40px 100px;
}
.content_heading{
  color:#1D536F;
  font-size: 20px;
  font-weight: 550;
}
.content_matter{
  color:#1d5875;
  font-size:20px;
}
.back-button{
  display: flex;
  justify-content: center;
  margin: 600px;
}
.three-boxes{
  display: flex;
  justify-content: space-evenly;
  margin:100px;
  text-align: center;
}
.two-boxes{
  display: flex;
  justify-content: space-evenly;
  margin:100px;
  text-align: center;
}
.first-boxes{
  display: flex;
  justify-content: space-evenly;
  margin:100px;
  text-align: center;
}
.box{
  width:30%;
  height:75px;
  background-color: rgb(239,239,239);
  border:2.5px solid black;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  text-align: center;
}
.box-text{
  font-size: x-large;
  font-weight: 400;
  font-display:flex;
  text-align: center;

}
.course-container{
  display: flex;
  justify-content:center;
  background-color: rgb(223,246,221);
}
.items{
  display: flex;
  flex-direction: row;
  margin:50px;
}
.visibility{
  visibility: hidden;
}
.course-heading{
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-weight: 600;
  margin-top: 40px;
}
.input-name{
  font-size: large;
  display: inline-block;
  width: 250px;
}
.input-name-large{
  font-size: large;
  display: inline-block;
  width: 400px;
}
.input-name-extra-large{
  font-size: large;
  display: inline-block;
  width: 550px;
}
.input-text{
  margin:0px 0px 0px 30px;
  text-align: left;
}
.submit-button{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-right: 80px;
  text-decoration: none;
}
.welcome-text{
  font-size: 30px;
  font-weight: bolder;
  color:rgb(255, 255, 255);
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100px;
}
td, th {
  border: 2px solid green;
  text-align: left;
  padding: 8px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  width:300px

}
td:hover {
  background-color:rgb(8,48,83);
}
.course-container-login{
  display: flex;
  justify-content:space-between;
  background-color:rgb(223,246,221);
  margin-right: 100px;
}
.input-name-small{
  font-size: large;
  display: inline-block;
  width: 200px;
}
.participation-contents{
  display: flex;
  flex-direction: row;
}
.participation-text{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width:70%;
  font-size: 25px;
  font-style:normal;
  font-weight: 500;
}
.sidenav {
  height: 85%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 50;
  left: 0;
  background-color: rgb(8,48,83);
  overflow-x: hidden;
  padding-top: 20px;

}
.sixth_section{
  width:100%;
  height:10.3%;
}

.sidenav a {
  padding: 15px 15px 15px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 23px;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}